.dash-logo{
    height: 10vh;
}
.our-sidebar{
    height: 100vh;
    background: #49a347;
}
.dash-logo img{
    width: 50%;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #49a347;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #30742f;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px 10px 10px 1.8rem;
}

#sidebar ul li a {
    padding: 10px;
    font-size: .9em;
    display: block;
    padding-left: 1.8rem;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #30742f;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #49a347;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #49a347;
    text-indent: 1rem;
}
.sidebar-btn{
    border-radius: 50%;
    height: 6vh;
    width: 6vh;
    background: #49a347;
    color: #fff;
}
.sidebar-btn i{
    font-size: 14px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
@media (min-width: 768px) {
    /* #sidebar {
        margin-left: -250px;
    } */
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse {
        display: none;
    }
}