.tab-full {
    min-height: 80vh;
}
.stat{
    height: 20vh;
}
.stat h2{
    color: #49a347;
}
.toast-body {
    background: #56CCF2;
    font-weight: bold;
}
.stat-tab-box {
    max-width: 50vw; 
    height: 6vh;
    text-align: center;
    font-weight: bold;
    color: grey;
    cursor: pointer;
}
.all-stat-tabs {
    background:#e6e6e6; 
    padding: 10px 10px 0px 10px;
}
.all-stat-tabs:hover {
    opacity: 0.6;
    color: black;
}
.all-stat-tabs:nth-of-type(1)::before {
    content: 'Weekly';
}
.all-stat-tabs:nth-of-type(2)::before {
    content: 'Monthly';
}
.all-stat-tabs:nth-of-type(3)::before {
    content: 'All';
}
@media(max-width: 768px) {
    .stat-tab-box {
        max-width: 70vw; 
        padding: 0;
    }
    .all-stat-tabs:nth-of-type(1)::before {
        content: 'Wkly';
    }
    .all-stat-tabs:nth-of-type(2)::before {
        content: 'Mnthly';
    }
    .all-stat-tabs:nth-of-type(3)::before {
        content: 'All';
    }
}

