/* * {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
} */

.dash-logo {
  height: 90px;
  background: #49a347;
  border: 1px solid transparent;
}

.our-sidebar {
  height: 100vh;
  background: white;
}

.dash-logo img {
  width: 70%;
  height: 50%;
}

.mt-3,
.my-3 {
  margin-top: 1.3rem !important;
}

a,
a:hover,
a:focus {
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}

.list-unstyled>p {
  margin-top: 1em;
}

.list-unstyled>p:hover {
  color: inherit;
  background: #edf6ed;
  text-decoration: none;
  transition: all ease-in 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 220px;
  max-width: 250px;
  background: white;
  color: grey;
  transition: all 0.3s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#sidebar .active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #49a347;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  cursor: pointer;
  font-size: 16px;
  color: #49a347;
  padding: 10px 10px 10px 1.8rem;
}

#sidebar ul li a {
  padding: 10px;
  margin: 1em 0px;
  font-size: 0.9em;
  display: block;
  padding-left: 1.8rem;
}

#sidebar ul li a:hover {
  color: #49a347;
  background: #edf6ed;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #49a347;
  background: #30742f;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: grey;
  text-indent: 1rem;
}

.sidebar-btn {
  border-radius: 50%;
  height: 6vh;
  width: 6vh;
  background: #49a347;
  color: #fff;
}

.sidebar-btn i {
  font-size: 14px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  /* padding: 26px 30px 6em 6em; */
  padding-right: 10px;
  min-height: 100vh;
  transition: all 0.3s;
  background-color: #f1f5f8
}

.innerContent {
  width: 100%;
  padding: 20px 10px 1.2em 3.8em;
  transition: all 0.3s;
  background-color: #f1f5f8
}

/* .navbar-toggler-icon {
  background-image: url(data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000…p='round' stroke-miterlimit='10' d='M47h22M4 15h22M423h22'/%3e%3c/svg%3e);
} */

.navbar-nav>li {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-toggler:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.peace-header {
  font-size: 26px;
  color: #49A347 !important;
}

.header-form {
  /* border: 1px solid #000; */
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
}

.header-form2 {
  /* border: 1px solid #000; */
  background: #F1F5F8;
  border-radius: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
}

.header-input {
  background: #FAFBFD;
}

.header-input2 {
  background: #F1F5F8;
}

.form-control {
  border: none;
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.form-control2 {
  border: none;
  outline: none;
  box-shadow: none;
}

.form-control2:focus {
  border: none;
  outline: none;
  box-shadow: none;
  background: #F1F5F8;
}

.breadcrumb li::before {
  content: ">";

}

.panel-2 {
  /* background: #c7ffc6; */
  /* mix-blend-mode: normal; */
  background: #49A347;
  /* opacity: 0.1; */
}

.card {
  width: 15.5rem;
}


.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  border-bottom-color: none;
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.dropdown-menu {
  border: 0;
  margin-right: 9px !important;
}

.bell {
  margin-bottom: 23px;
}

.message {
  margin-bottom: 23px;
}

.arrow {
  margin-bottom: 23px;
}


tr.highlight {
  border-top: 10px solid;
  border-bottom: 10px solid;
  border-color: transparent;
}



/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -220px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  .icons {
    display: flex;
    flex-direction: row;
    margin-top: 3em !important;
    margin-left: 10px;
  }


  .peace-header {
    margin-left: .8em;
  }

  #sidebarCollapse span {
    display: none;
  }



}

@media (min-width: 768px) {
  .card {
    margin-right: 20px;
    width: 15.5rem;
  }
}

@media (max-width: 1200px) {

  #message,
  #bell,
  #arrow {
    display: none;
  }


}

@media (max-width: 576px) {
  #frederick {
    margin-left: -16em;
  }
}

@media (min-width: 1200px) {
  #frederick {
    margin-left: 3rem;
  }
}

@media (min-width: 576px) {
  .icons {
    display: flex;
    flex-direction: row;
  }

  .navbar-nav {
    position: absolute;
    z-index: 100;
  }


}

@media (max-width: 780px) {

  .card-column {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: unset;
  }


  .split-mid {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }

}

@media (min-width: 576px) and (max-width: 769px) {

  .header-form {
    margin-bottom: 10px;
  }

}

@media (min-width: 769px) {

  #sidebarCollapse {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199) {

  #frederick {
    margin-left: -5em !important;
  }
}

@media (min-width: 768px) and (max-width: 870px) {

  .header-form {
    margin-left: -22%;
    margin-bottom: 20px;

    position: fixed;
    top: 8%;
    width: unset;
  }

}