body {
    font-family: 'Open Sans', sans-serif;
}
.scroller{
  overflow-y: scroll;
}
.scroller::-webkit-scrollbar {
  width: 4px;
}
.scroller::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
  display: none;
}

.scroller::-webkit-scrollbar-thumb {
  color: black;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #343a40;
}
.usual-btn {
  color: white;
  background: #49a347;
  border-radius: 0px;
  font-size: 10px;
  font-weight: bold;
}
.usual-btn-opposite {
  color: #49a347;
  background: white;
  border-radius: 0px;
  font-size: 10px;
  font-weight: bold;
}
.green-underline {
  width: 3vw;
  border-top: 4px solid #49a347;
}
.bold {
  font-weight: bold;
}
/* Slick JS CSS */
.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}
.error-fields {
  color: tomato;
  font-size: 11px;
  height: 3vh;
  margin: 0;
  padding: 0;
}
.swal2-confirm{
  background: #49a347 !important; 
}
.image-error-sty {
  color: tomato !important;
  font-size: 13px;
}


/* 
 Spinner class
*/

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}

@keyframes spinner-border {
to { transform: rotate(360deg); }
}