.welcome-image {
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/welcome-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.welcome-image-words {
  height: 50vh;
  margin-top: 13vh;
}
.welcome-image-words h1 {
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.welcome-image-words p {
  color: white;
}
.request-demo-btn {
  background: #49a347;
  color: white;
  font-size: 12px;
  border-radius: 0px;
}
.features h3 {
  font-weight: bold;
}
.indiv-feature {
  height: 30vh;
}
.feature-img {
  height: 8vh;
}
.indiv-feature div span {
  font-weight: bold;
  font-size: 12px;
}
.what-is-gateguard {
  min-height: 40vh;
}
.what-is-gateguard h1 {
  font-weight: bold;
}
.what-is-gateguard p {
  font-size: 16px;
}
.green-underline {
  width: 3vw;
  border-top: 4px solid #49a347;
}
.gateguard-image {
  height: 60vh;
}
.gateguard-image img {
  height: 100%;
  width: 100%;
}
.feature-breakdown {
  min-height: 100vh;
  background: #e5e5e5;
}
.breakdown-con {
  min-height: 60vh;
}
.breakdown-header {
  color: #49a347;
  font-weight: bold;
}
.breakdown-feature {
}
.breakdown-feature img {
  height: 5vh;
  width: 5vh;
}
.breakdown-feature p {
  font-size: 10px;
  font-weight: bold;
}
.learn-more-btn {
  background: #49a347;
  color: white;
  border-radius: 0px;
}
.breakdown-image {
  height: 45vh;
}
.breakdown-image img {
  height: 100%;
  width: 100%;
}
.customers {
}
.customer-review {
  min-height: 100vh;
}
.customer-header {
  font-weight: bold;
}
.customer-image {
  height: 25vh;
  width: 25vh;
}
.customer-image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.customer-words p {
  font-size: 14px;
  font-weight: bold;
  line-height: 4vh;
}
.review-author {
  color: #49a347;
  font-weight: bold;
}
.review-location {
  color: #49a347;
  font-size: 10px;
}
.partners-showcase div {
  height: 18vh;
}
.partners-showcase div img {
  width: 100%;
  vertical-align: middle;
}
.subscribe {
  min-height: 60vh;
}
.subscribe h2{
  font-weight: bold;
}
.subscribe-form > div {
  margin-top: 15vh;
}
.subscribe-form input {
  color: black;
  border-radius: 0px;
  border: 1px solid black;
}
.subscribe-form input::placeholder {
  color: black;
}
.subscribe-form input:focus {
  box-shadow: none;
  border: 1px solid black;
}
.subscribe-form button {
  background: #49a347;
  color: white;
  border: none;
  border-radius: 0px;
}
/* .subscribe-form button:hover {
  background: white;
  color: #49a347;
  border: 1px solid #49a347;
  border-radius: 0px;
} */
.subscribe-form button:focus {
  background: #49a347;
}