.Residents-image{
    height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/image 4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.guards-image{
    height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/Guards image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.visitorphone-image{
    height: 70vh;
}
.visitorphone-image img{
    width: 218.56px;
height: 384.33px;
left: 1072.51px;
top: 1064.48px;
}
.residents-breakdown{
    height: 60vh;
    border: 1px solid black;
}
.clients{
    overflow: hidden;
}
@media(max-width:380px){
    .Residents-image{
        height: 175vh;
    }
    .guards-image{
        height: 195vh;
    }
    .visitorphone-image{
        margin-bottom:10em!important;
    }
    .app-footer{
        height:230vh;
    }
}

