*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    padding: 0%;
}

.main-container{
    width: 100%;
}

.header{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0rem;
    background-color: #28a745;
    color: #fff; 
}

.header h1 {
    text-transform: uppercase;
    font-weight: bolder;
}
.header p {
    background-color: #fff;
    color: #28a745;
    padding: 1rem;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.termsandconditions{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.tc-writeup-container{
    width: 85%;
    height:100%;
    position: relative;
    top: -20%;
    overflow-y: scroll;
    background-color: #ECECEC;
    padding: 1rem;
    border: 1px solid #777;
    border-radius: 5px;
}

.tc-writeup-container p {
    text-align: justify;
}


@media  (max-width:768px) {
    .header h1 {
        font-size: 2rem;
    }

    .header p{
        font-size: .8em;
        padding: .5rem
    }
}

@media  (max-width:500px) {
    .header h1 {
        font-size: 1em;
    }

    .header p{
        font-size: .8em;
        padding: .5rem
    }
}